.jesus{
            background-color:pink;
}
.varsha{
                background-color:yellow;
}
.sony{
           background-color:blue;
}
.mummy{
                  background-color:greenyellow;
}