.red {
    background-color:rgb(26, 194, 186);
}
/* #head {
    background-color: blueviolet;
} */
.one {
    background-color: springgreen;
    color: black;
}
.varsha {
    color: brown;
}
.sandy{
    text-align: center;
}